<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SysCisepro3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SysCisepro3.Properties.Settings.SysCiseproConnectionString"
      connectionString="Data Source=192.168.0.137;Initial Catalog=SYSCISEPRO;Persist Security Info=True;User ID=syscisepro;Password=syscisepro" />
    <add name="SysCisepro3.Properties.Settings.SYSCISEPROConnectionString1"
      connectionString="Data Source=VIDEOMONITOREO;Initial Catalog=SYSCISEPRO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SysCisepro3.Properties.Settings.SYSSEPORTPACConnectionString"
      connectionString="Data Source=videomonitoreo;Initial Catalog=SYSSEPORTPAC;Persist Security Info=True;User ID=syscisepro;Password=syscisepro;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <SysCisepro3.Properties.Settings>
      <setting name="Usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorCisepro" serializeAs="String">
        <value>21, 101, 192</value>
      </setting>
      <setting name="ColorSeportpac" serializeAs="String">
        <value>38, 50, 56</value>
      </setting>
      <setting name="ColorAsenava" serializeAs="String">
        <value>SteelBlue</value>
      </setting>
      <setting name="RutaAts" serializeAs="String">
        <value />
      </setting>
      <setting name="RutaDocsElec" serializeAs="String">
        <value />
      </setting>
      <setting name="RutaFirmElec" serializeAs="String">
        <value />
      </setting>
    </SysCisepro3.Properties.Settings> 
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
