<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="syscisepro.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="syscisepro.My.MySettings.SYSCISEPROConnectionString" connectionString="Data Source=192.168.0.137;Initial Catalog=SYSCISEPRO;Persist Security Info=True; Integrated Security=True ;User ID=syscisepro; Trust Server Certificate= True" providerName="System.Data.SqlClient" />
        <add name="syscisepro.My.MySettings.SYSCISEPROConnectionString1" connectionString="Data Source=VIDEOMONITOREO;Initial Catalog=SYSCISEPRO;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="syscisepro.My.MySettings.SYSCISEPROConnectionString2" connectionString="Data Source=SERVIDOR;Initial Catalog=SYSCISEPRO;User ID=syscisepro;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="syscisepro.My.MySettings.SYSCISEPROConnectionString3" connectionString="Data Source=VIDEOMONITOREO;Initial Catalog=SYSCISEPRO;User ID=syscisepro;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
      <!--cambio -->

            
      <!--cambio -->
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <syscisepro.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorCisepro" serializeAs="String">
                <value>0, 83, 156</value>
            </setting>
            <setting name="ColorSeportpac" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="ColorAsenava" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
        </syscisepro.My.MySettings>
    </userSettings>
  
    <applicationConfiguration>
      <add key="DpiAwareness" value="PerMonitorV2" />
    </applicationConfiguration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
