<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrarySecurity.Properties.Settings.SysCiseproConnectionString"
            connectionString="Data Source=192.168.0.137;Initial Catalog=SYSCISEPRO;Persist Security Info=True;User ID=syscisepro;Password=syscisepro" />
        <add name="ClassLibrarySecurity.Properties.Settings.SysSeportpacConnectionString"
            connectionString="Data Source=192.168.0.137;Initial Catalog=SYSSEPORTPAC;Persist Security Info=True;User ID=syscisepro;Password=syscisepro" />
        <add name="ClassLibraryCisepro3.Properties.Settings.SysCiseproConnectionString"
            connectionString="Data Source=192.168.0.137;Initial Catalog=SYSCISEPRO;Persist Security Info=True;User ID=syscisepro;Password=syscisepro;Connection Timeout=0" />
        <add name="ClassLibraryCisepro3.Properties.Settings.SysSeportpacConnectionString"
            connectionString="Data Source=192.168.0.137;Initial Catalog=SYSSEPORTPAC;Persist Security Info=True;User ID=syscisepro;Password=syscisepro;Connection Timeout=0" />
        <add name="ClassLibraryCisepro3.Properties.Settings.SysAsenavaConnectionString"
            connectionString="Data Source=192.168.0.137;Initial Catalog=SYSASENAVA;Persist Security Info=True;User ID=syscisepro;Password=syscisepro;Connection Timeout=0" />
    </connectionStrings>
</configuration>